.content{
    text-align: initial;
}
.fontHeaderContent{
    margin-top: 10px;
   
}
.labelCreate{
    font-size: 15px;
}
.formCreateUser{
    margin-top: "10px";
    margin-left: "5px";
    display: "block";
}
.buttonCancel{
    display: "inline-block" ;
    color: #a3a8ad !important;
    border-radius: 4px !important;
    border: 2px solid #a3a8ad !important;
}
.inputForm{
    border-radius: 4px !important;
    /* border: 2px solid #a3a8ad !important; */
}
.ant-form-item{
    margin-bottom: 15px;
}
.formCreate{
    margin-top: 10px;
    margin-left: 5px;
    display: block;
}
.ant-picker{
    display: block;
}
